.headerTop{
    width: auto !important;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
   p{
    background-color: #000;
    color: #ffffff;
    font-size: 0.6rem;
   }
   
   .headerTopBtn{
        display: flex;
    .Login2{
        font-size: 0.6rem;
        background-color: #000;
        color: #ffffff;
    border-radius: 5px; 
    font-weight: bold; 
        
        border: none;   
    }
   }
   .span{
        background-color: #fff;
        font-size: 0.5rem;
   }
}
.headerBottom{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #000;
.logo{
    background: color #000;;
    color: #ffffff;
}
.headerBottom-Url{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
   .headerBottom-Url a {
    color: #ffffff; 
    text-decoration: none;
    font-weight: bold; 
    padding: 5px 10px;
    background-color: #000; 
    border-radius: 5px; 
    transition: background-color #333 ease, transform 0.2s ease; 
   }

}